body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1abc9c;
}

header {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.developer {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.developer:hover {
  transform: translateY(-10px);
}

.developer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 6px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.developer:hover img {
  transform: scale(1.1);
}

.info {
  padding: 20px;
}

h2 {
  margin: 15px 0;
  font-size: 2em;
  color: #333;
}

p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .developer {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  .developer {
    width: calc(100% - 40px);
  }
}
